body{
  margin:0;
  font-family:'Poppins',sans-serif;
  overflow-y:auto;
}


.page{
  min-height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:linear-gradient(135deg,#ff758c,#ff7eb3);
}

.card{
  background:rgba(255,255,255,0.15);
  padding:40px;
  border-radius:25px;
  backdrop-filter:blur(10px);
  box-shadow:0 0 40px rgba(255,255,255,.4);
  text-align:center;
  animation:fade 1.5s;
}

.glow-btn{
  display:inline-block;
  padding:14px 35px;
  border-radius:40px;
  background:linear-gradient(45deg,#ff4d6d,#ffd1dc);
  color:#fff;
  text-decoration:none;
  font-size:1.1rem;
  margin-top:25px;
  box-shadow:0 0 20px #ff4d6d;
  animation:pulse 2s infinite;
}

@keyframes fade{
  from{opacity:0;transform:scale(.8);}
  to{opacity:1;transform:scale(1);}
}
@keyframes pulse{
  0%{box-shadow:0 0 15px #ff4d6d;}
  50%{box-shadow:0 0 35px #ffb3c1;}
  100%{box-shadow:0 0 15px #ff4d6d;}
}


